.meeting {
  min-height: 100vh;
  background-color: $backgroundSecondary;
  padding-top: 4rem;

  &__container {
    padding: 0 0 0 2rem;
  }

  &__page-top {
    margin-bottom: 2rem;
  }

  &__title-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__form-title {
    margin-right: 1rem;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 600;
  }

  &__title-img {
    width: 2.6rem;
    height: 2.6rem;
  }
  & .react-timerange-picker__wrapper {
    border-radius: 1.2rem;
    border: 0.1rem solid rgb(209 213 219);
    padding: 0.8rem;
    background: $backgroundMain;
  }

  & .react-timerange-picker__range-divider {
    margin-right: 1rem;
  }

  & .react-timerange-picker__clock.react-timerange-picker__clock--open {
    border-radius: 1.2rem;
    border: 0.1rem solid rgb(209 213 219);
  }
}

@media (min-width: $breakpoint768) {
  .meeting {
    &__container {
      padding: 0 0 0 0.6rem;
    }

    &__form-container {
      padding: 0 1rem;
    }

    &__page-top {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 2.8rem;
    }

    &__form-title {
      margin-right: 1.4rem;
      font-size: 2.4rem;
      line-height: 2.8rem;
    }

    &__top-btn {
      margin-bottom: 0;
      margin-right: 3rem;
    }
  }
}

@media (min-width: $breakpoint1200) {
  .meeting {
    padding-top: 4rem;
    background-color: $backgroundMain;

    &.meeting--editform {
      .sidebar__btn-logout {
        display: none;
      }
    }

    &__content-wrapper {
      background-color: $backgroundSecondary;
      padding: 3.2rem 4.3rem 1.2rem 4rem;
      border-radius: 1.4rem;
    }

    &__inner {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 3rem;
    }
  }
}
